// Cores
$color-primary: #f1c40f;
$color-secondary: #f71963;
$color-text: #4e4e4e;
$color-text-light: #9f9f9f;
$color-text-muted: #3b3b3b;
$color-white: #ffffff;
$color-bg: #f6f6f6;
$color-border: #e6e6e6;
$color-pink: #f71963;
$color-gray-dark: #4e4e4e;
$color-gray-medium: #9f9f9f;
$color-gray-light: #f6f6f6;
$color-blue: #2a2b3d;
$color-yellow: #ffc107;
$color-purple: #341c5f;

// Fontes
$font-main: "Poppins", sans-serif;

// Layout
$container-width: 1280px;

// Breakpoints (Pontos de quebra)
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1280px;
